.headergrid{
    grid-template-columns: auto auto;
    display:grid;
    padding-left:50%;
}



.bodygrid{
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
}
p{
    font-size:50px;
}

a{
    text-decoration:underline ;
    color: black
}


