@font-face {
    font-family: ;
    src: url();
}
:root{
    --org1--color: rgb(201, 34, 34);
    --org2-color:rgb(210, 152, 45);
}
main {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, 250px);
    justify-items: center;
    gap: 2em;
    
}
nav ul{
    list-style-type: none;
}
#Organisation1{
    grid-column: 1;
    grid-row: 1/2;
    background-color: var(--org1--color);
    border-width: 2em;
    border-radius: 50px;
    width: 90%;
    text-align: center;
}
#Organisation2{
    grid-column: 1;
    grid-row: 2/3;
    background-color: var(--org2-color);
    border-width: 2em;
    border-radius: 50px;
    width: 95%;
    text-align: center;
}