.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
  }

.form2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px b;
  margin-left: 13rem;
}
  
  input[type="datetime-local"] {
    padding: 8px;
    font-size: 16px;
    margin: 8px;
    width: 300px;
  }

  .info {

    padding: 16px;
    background-color: lightgray;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  input[type="datetime-local"] {
    padding: 16px;
    font-size: 20px;
    margin: 8px;
    width: 300px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  button[type="button"] {
    padding: 8px 16px;
    font-size: 16px;
    background-color: lightblue;
    color: white;
    border: 1px solid blue;
    border-radius: 8px;
    cursor: pointer;
  }

      #fname {
    padding-right: 20em;
    padding-bottom: 30em;
    resize: both;
    overflow: auto;
    background-color: #e4e4e4
  }

  #fbutton {
    margin-left: 2rem;
    margin-top: 28rem;
    background-color: #e4e4e4;
    font-size: 2em;

  }

  .Tillbaka {
    margin-left: 2em;
    background-color: #e4e4e4;
    text-decoration: none;
    color: black;
    font-size: 2.5em;
  }
