:root {
    --web--color:rgb(237, 237, 237);
}

body {
    background-color: var(--web--color);
}
main {
    display: grid;
    grid-auto-rows: auto 3fr
}

h2 {
    font-size: 3em;
    padding: 0;
    text-align: center;
}

#kalender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.circle {
    height: 80%;
    width: 80%;
    background-color: rgb(192, 181, 181);
    border-radius: 50%;
    display: inline-block;
}
.nästavecka{
    grid-column: 7;
    grid-row: 6;
    width: 100%;
}
.föravecka {
    grid-column: 1;
    grid-row: 6;
    width: 100%;
    transform: rotate(180deg);
}

@media only screen and (max-width: 1080px) {
    
}