:root{
    --org1--color: rgb(201, 34, 34);
    --org2-color:rgb(210, 152, 45);
    --org3-color:rgb(45, 194, 210);
    --org4-color:rgb(56, 210, 45);
    --org5-color:rgb(180, 45, 210);
    --org6-color:rgb(184, 82, 9);
    --nav-color:rgb(194, 194, 194);
    --web--color:rgb(237, 237, 237);
}
body{
    background-color: var(--web--color);
}
nav ul{
    list-style-type: none;
}

main h2 , h3{
    text-align: center;
    grid-column:1/10 ;
}
main h2{
    font-size: 3em;
}

h4{
    text-align: center;
}

section{
    margin-bottom: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

div{

    width: 100%;
    height: 250%;
}


img{
margin-top: 50px;
width: 5em;
height: 7em;
}

.image1{
    transform: rotate(180deg);
    grid-row:3/4;
}








div.Måndag{
    background-color: rgb(146,209,79);
}
div.Tisdag{
    background-color:rgb(146,205,219);
}
div.Onsdag{
    background-color:rgb(254,254,254);
}
div.Torsdag{
    background-color:rgb(200,143,88);
}

div.Fredag{
     background-color:rgb(254,254,108);
}
div.Lördag{
     background-color:rgb(249,167,215);
}
div.Söndag{
     background-color:rgb(214,81,86);
}

@media only screen and (min-width: 860px){
    header nav{
        margin-left: 120px;
        margin-right: 120px;
    }
    .maingrid{
        grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
        grid-template-rows: auto auto auto;
        display:grid;
    }


}
@media only screen and (max-width: 860px){
    header nav{
        margin-left: 80px;
        margin-right: 80px;
    }
    section{
        text-align: center;
        margin-right: 200px;
        margin-left: 200px;
        margin-bottom: 400px;
    }

    .image2{
    float: right;
    }
div{
    max-width: 200px;
    height: 400px;
}







    section.Måndag{
        background-color: rgb(146,209,79);
    }
    section.Tisdag{
        background-color:rgb(146,205,219);
    }
    section.Onsdag{
        background-color:rgb(254,254,254);
    }
    section.Torsdag{
        background-color:rgb(200,143,88);
    }
    
    section.Fredag{
         background-color:rgb(254,254,108);
    }
    section.Lördag{
         background-color:rgb(249,167,215);
    }
    section.Söndag{
         background-color:rgb(214,81,86);
    }
}