body {
    width: 97vw;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 3em;
    color: #162938;
    text-align: center;
}

.input-box {
    font-size: 1.5em;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: 1.5em;
    color: #162938;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

span {
    color: red;
}

#mainheader {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
}

/* Responsiva stilar */
@media (max-width: 768px) {
    .form-box h2 {
        font-size: 2em;
    }

    .input-box {
        font-size: 1em;
    }

    .btn {
        font-size: 0.8em;
    }

    .login-register {
        font-size: 1em;
    }
}