
body{
    grid-template-rows: auto auto;
    width:97vw;
}
main a{
    background-color: rgb(211, 210, 210);
    color: black;
    border-style: solid;
    border-width: 2px;
    margin-left: 40px;
    font-size: 3em;
}



main form{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:auto auto auto auto 4fr ;
    display:grid;
}
.labelname{
grid-column: 1/2;
grid-row: 1/2;
}
.inputname{
    grid-column: 2/3;
    grid-row: 1/2;
}
.labeldesc{
    grid-column: 1/2;
    grid-row: 2/3;
    }
.inputdesc{
    grid-column: 2/3;
    grid-row: 2/3;
}
.file{
    grid-row: 1/3;
    grid-column: 4/6;
}
.submit{
    grid-column: 4/5;
    grid-row: 4/5;
}

.file::file-selector-button{
    height: 400px;
    width: 400px;
    background-color: rgb(199, 198, 198);
}

label{
    height:50px;
    text-align: right;
    font-size: x-large;
    padding-top: 20px;
    margin-top: 40px;
}

input[type="text"]{
    height:80px;
    font-size: x-large;
    justify-self: end;
    margin-top: 45px;
}
input[type="submit"]{
    font-size: xx-large;
    background-color: rgb(194, 191, 191);
    justify-self: right;
    margin-top: 40px;

}