/* @font-face {
    font-family: ;
    src: url();
} */
:root{
    --org1--color: rgb(201, 34, 34);
    --org2-color:rgb(210, 152, 45);
    --org3-color:rgb(45, 194, 210);
    --org4-color:rgb(56, 210, 45);
    --org5-color:rgb(180, 45, 210);
    --org6-color:rgb(184, 82, 9);
    --nav-color:rgb(194, 194, 194);
    --web--color:rgb(237, 237, 237);
}
body{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--web--color);
}
.sidomeny{
    display: none;
}
h1{
    display: none;
}
main {
    display: grid;
    grid-auto-rows: minmax(250px, auto);
    justify-items: center;
    gap: 2em;
    font-size: 2em;
}

section{
    border-width: 2em;
    border-radius: 50px;
    width: 90%;
    text-align: center;
}
#Organisation1{
    background-color: var(--org1--color);
}
#Organisation2{
    background-color: var(--org2-color);
}
#Organisation3{
    background-color: var(--org3-color);
    display: none;
}
#Organisation4{
    background-color: var(--org4-color);
    display: none;
}
#Organisation5{
    background-color: var(--org5-color);
    display: none;
}
#Organisation6{
    background-color: var(--org6-color);
    display: none;
}
.upploadbutton {
    width: 10%;
    grid-row: 3;
    align-self: start;
    justify-self: center;
}
@media only screen and (min-width: 820px) {
    .sidomeny{
        display: none;
    }
    section{
        height: 80%;
    }
    main {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0px;
        row-gap: 1em;
    }
    #Organisation3{
        background-color: var(--org3-color);
        display: block;
    }
    #Organisation4{
        background-color: var(--org4-color);
        display: block;
    }
    #Organisation5{
        background-color: var(--org5-color);
        display: block;
    }
    #Organisation6{
        background-color: var(--org6-color);
        display: block;
    }
    #upploadbutton {
        width: 10%;
        grid-column: 3;
        align-self: start;
        justify-self: end;
        margin-right: 5rem;
    }
}
@media only screen and (min-width: 1080px) {
    body{
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-left: 2em;
        margin-right: 2em;
    }
    .sidomeny{
        display: block;
        grid-row: 1;
    }
    
    h2{
        text-align: center;
        font-size: 2.7em;
        margin-bottom: 1em;
        margin-top: 30px;
    }
    .sidomeny nav{
    background-color: var(--nav-color);
    height:80%;
    border-radius: 50px;
    width: 80%;
    margin:0 auto;
    }
    .huvudspalt {
        grid-row: 1;
    }
    .sidomeny ul{
        height: 100%;
        font-size: 2em;
        overflow: auto;
        text-align:center;
    }
    .sidomeny li{
        height:10%;
        padding-left: 10px;
    } 
    
    
}