:root{
    --org1--color: rgb(201, 34, 34);
    --org2-color:rgb(210, 152, 45);
    --org3-color:rgb(45, 194, 210);
    --org4-color:rgb(56, 210, 45);
    --org5-color:rgb(180, 45, 210);
    --org6-color:rgb(184, 82, 9);
    --nav-color:rgb(194, 194, 194);
    --web--color:rgb(237, 237, 237);
}
body{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--web--color);
}
.sidomeny{
    display: none;
}
h1{
    display: none;
}
main {
    display: grid;
    grid-auto-rows: minmax(250px, auto);
    justify-items: center;
    gap: 2em;
    font-size: 2em;
}

section{
    border-width: 2em;
    border-radius: 50px;
    width: 90%;
    text-align: center;
    background-color: var(--org1--color);
}
p {  
    font-size: 1em;    
}

#upploadbutton {
    width: 10%;
    margin-right: 2em;
    float:right;
}

@media only screen and (min-width: 890px) {
    body{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 2em;
        margin-right: 2em;
    }
    .sidomeny{
        display: none;
    }
    section{
        height: 80%;
    }
    main {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0px;
        row-gap: 1em;
    }
    #upploadbutton {
        width: 6%;
        margin-right: 3rem;
    }
}
@media only screen and (min-width: 1080px) {
    body{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 20px;
        gap: 10px;
    }
    .sidomeny{
        display: block;
        grid-row: 1;
        height: 200vh;
        
    }
    h2{
        text-align: center;
        font-size: 2.7em;
        margin-bottom: 1em;
        margin-top: 30px;
    }
    .sidomeny nav{
    background-color: var(--nav-color);
    height:30%;
    border-radius: 50px;
    width: 80%;
    margin:0 auto;
    }
    .huvudspalt {
        grid-row: 1;
    }
    .sidomeny ul{
        height: 100%;
        font-size: 2em;
        overflow: auto;
        text-align:center;
        padding-left: 0;
    }
    .sidomeny li{
        height:8vh;
        list-style-type: none;
    } 
}