body{
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 3rem;
}

header h1{
display: none;
}

#back_button {
    background-color: rgb(211, 210, 210);
    color: black;
    border-style: solid;
    border-width: 2px;;
    place-self: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

main{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 25% 60%;
    display: grid;
    width: 100vw;
    height: 80vh;
}
h4 , h5{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1em;

}
section{
    margin-right: 10px;
    background-color:var(--web--color);
    border:none;
}
a{
    grid-row: 1;
    grid-column: 1;
    display: grid;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    text-align: left;
    color: black;
}
div{
    border-color: black;
    border-style: solid;
    border-width: 3px;
}
p , h2 , h3{
    color: black;
    font-size: 1em;
    
}

h2{
    text-align: center;
}
.gridsection{
    margin: 0;
    padding: 1em;
}

.gridsection2{
    grid-row: 1/4;
    grid-column: 2;
    margin-left: 20px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    position: relative;
    background-color: lightgray;
    padding: 1rem;
    overflow: auto;
}


.Dag-Infokalender {
    padding: 0.5rem;
    overflow: auto;
    height: 20vh;
}

#day {
    font-size: 2rem;
}



@media only screen and (max-width:800px ) {
    main{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    a{
        grid-row: 1;
    }
    .Dag-Infokalender{
        grid-row: 2;
    }
    
    .gridsection2{
        grid-row: 3;
        grid-column: 1;
        margin-left: 20px;
        margin-right: 20px;
    }
}