:root {
    --web--color:rgb(237, 237, 237);
    --color--circle: rgb(0, 0, 0);
}
h1{
    display: none;
  }

body {
    background-color: var(--web--color);
}
main div {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
}

section {
    border: solid;
    margin: 5px;
    border-radius: 50%;
    padding: 10px;
    font-size: 10px;
}
p{
    border-color: var(--color--circle);
    border-radius: 50%;
    font-size: 2em;
    padding: 10px;
    margin: 0;
}

h2 {
    font-size: 3em;
    text-align: center;
    padding: 0;
}

.pil {
    display: flex;
    justify-content: space-between
}
.nästavecka{
    width: 30%;
    transform: rotate(180deg);
}
.föravecka {
    width: 30%;
    justify-self: end;
}

@media only screen and (min-width: 1080px) {
    #month {
        display: grid;
        grid-template-areas: 
        "h2", 
        "Main";
    }
    section {
        
        border-radius: 0%;
    }
    p {
        display: none;
        border-color: var(--color--circle);
    }
    .nästavecka{
        display: none;
    }
    .föravecka {
        display: none;
    }



}





