:root {
    --web--color:rgb(237, 237, 237);
    --color--circle: rgb(0, 0, 0);
}
h1{
    display: none;
  }

body {
    background-color: var(--web--color);
}
main div {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
}

section {
    margin: 5px;
}
p{
    border: solid;
    border-color: var(--color--circle);
    border-radius: 50%;
    font-size: 2em;
    padding: 10px;
    margin: 0;
}

h2 {
    font-size: 3em;
    padding: 0;
    text-align: center;
}

.pil {
    display: flex;
    justify-content: space-between
}
.nästavecka{
    width: 30%;
    transform: rotate(180deg);
}
.föravecka {
    width: 30%;
    justify-self: end;
}




