:root {
    --web--color:rgb(237, 237, 237);
    --color--circle: rgb(0, 0, 0);
    --go-back--color:rgb(192, 192, 192);
    --orga-name-color:rgb(255, 115, 0);
}
main {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
}
main > section {
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.go-back {
    display: flex;
}
.go-back > p, #link{
    background-color: var(--go-back--color);
    font-size: 1.5em;
}

#organisation-name {
    background-color: var(--orga-name-color);
}

#organisation-description   {
    background-color: var(--orga-name-color);
}

#Organisation-description{
    background-color: var(--orga-name-color);
}
img {
    display: flex;
    justify-self: flex-end;
    width: 50px;
}

@media only screen and (min-width: 820px) {
    main {
        grid-template-rows: auto 400px 1fr 1fr ;
    }
    main > section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 2fr 1fr;

    }
    #link {
        grid-column: 1;
        margin-right: 2rem;
        margin-left: 12rem;
    }
    #Organisation-description {
        grid-column: 2;
    }
    #organisation-name {
        margin-bottom: 5vw;
    }
    .go-back {
        align-items: flex-start;
    }
    .go-back > p{
        margin-left: 3rem;
        font-size: 3em;
        text-align: start;
       justify-self: center;
    }
    #organisation-name {
        
      margin-left: 10rem;
      margin-right: 10rem;
    }
    h2 {
        font-size: 2em;
        margin-left: 1rem;
    }
    #text  {
        grid-column: 2;
        background-color: var(--go-back--color);
    }
    section > img {
        grid-column: 3;
        grid-row: 2;
        align-self: self-end;
        justify-self: start;
        
    }
}