body{
    margin: 0;
    padding: 0;
}

#back_button{
    grid-row: 2;
    background-color: rgb(211, 210, 210);
    color: black;
    border-style: solid;
    border-width: 2px;;
    margin-top: 1rem;
}


/*Media Screen min*/

@media only screen and (min-width: 820px) {
    a {
        font-size: 3.9em;
    }
    #mainheader {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #activities{
        grid-row: 1;
        padding-bottom: 1em;
    }
    #week{
        grid-row: 1;
    }
    #month{
        grid-row: 1;
        padding-bottom: 1em;
    }
    #account{
        grid-row: 1;
        margin-bottom: 2rem;
    }
    #back_button{
        grid-row: 2;
        background-color: rgb(211, 210, 210);
        color: black;
        border-style: solid;
        border-width: 2px;;
        place-self: center;
        margin-bottom: 1rem;
        font-size: 2rem;
        width: 50%;
    }
    #location {
        grid-column:1/1;
        width: 50%;
        height: 50%;
        margin-bottom: 1rem;
        text-align: center;
        place-self: center;

    }
    
    #start_time {
        grid-column: 1/1;
        grid-row: 2;
        width: 50%;
        height: 50%;
        place-self: center;
        margin-bottom: 1rem;
    }
    
    #end_time{
        grid-column: 1/1;
        grid-row: 3;
        width: 50%;
        height: 50%;
        place-self: center;
    }
    #act{
        grid-column: 1/1;
        grid-row: 1;
        width: 50%;
        height: 50%;
        place-self: center;
    }
    #upload_information{
        grid-column: 2;
        grid-row: 1/4;
        
    }


}

/*Media Screen Max*/
@media all and (max-width:820px ) {
    #back_button{
        font-size: 2rem;
        height: 80%;
        text-align: center;
        margin-bottom: 2rem;
        margin-left: 1rem;
        margin-right: 2rem;
    }
    #location{
        width: 80%;
        height: 80%;
        margin-bottom: 2rem;
        margin-right: 2rem;
        margin-left: 1rem;
    }
    #start_time {
        width: 80%;
        height: 80%;
        margin-bottom: 2rem;
        margin-right: 2rem;      
        margin-left: 1rem;  
    }
    #end_time {
        width: 80%;
        height: 80%;
        margin-bottom: 2rem;
        margin-right: 2rem;
        margin-left: 1rem;
    }
    #act {
        width: 80%;
        height: 80%;
        margin-bottom: 2rem;
        margin-right: 2rem;
        margin-left: 1rem;
    }

}

.form{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    width: 100vw;
    height: 70vh;
}

#back_button {
    grid-row: 1;
    text-align: center;
    place-self: center;
    overflow: hidden;
    margin-left: 100px;
}

#location {
    place-self: center;
    grid-column:1/1;
    grid-row: 2;
    background-color: rgb(201, 201, 201);
    font-size: 2em;
    color: black;
}

#act {
    place-self: center;
    grid-column:1/1;
    grid-row: 1;
    background-color: rgb(201, 201, 201);
    font-size: 2em;
    color: black;
}
#start_time {
    place-self: center;
    grid-column: 1/1;
    grid-row: 3;
    background-color: rgb(201, 201, 201);
    font-size: 1.75em;
    color: black;
}

#end_time{
    place-self: center;
    grid-column: 1/1;
    grid-row: 4;
    background-color: rgb(201, 201, 201);
    font-size: 1.75em;
    color: black;
}

#upload_information{
    display: block;
    grid-column: 2;
    grid-row: 1/5;
    background-color: rgb(201, 201, 201);
    font-size: 2em;
    color: black;
    padding: 1rem;
    resize: none;
}

#upload_button{
    grid-column: 3;
    grid-row: 4;
    margin-top: 6.75rem;
    width: 50%;
    height: 40%;
    margin-left: 2rem;
    background-color: rgb(201, 201, 201);
    font-size: 1.5em;
    color: black;
}

label {
    display: none;
}