body{
    margin: 0;
    padding: 0;
}

#back_button{
    grid-row: 2;
    background-color: rgb(211, 210, 210);
    color: black;
    border-style: solid;
    border-width: 2px;;
    font-size: 2rem;
    margin-top: 1rem;
}

/*Nav*/

#mainheader{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    margin-bottom: 2rem;
}
header ul{
    margin: 0;
    padding: 0;

}
h1{
    display: none;
}
header a{
    font-size: 4.2em;
    color: black;
}
header a:active {
    text-decoration: none;
}
#activities{
    grid-row: 1;
}
#week{
    grid-row: 2;
}
#month{
    grid-row: 3;
}
#account{
    grid-row: 4;
}
#back_button{
    grid-row: 5;
}

header nav ul{
    list-style-type: none;
}



@media only screen and (min-width: 820px) {
    a {
        font-size: 3.9em;
    }
    #mainheader {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #activities{
        grid-row: 1;
        padding-bottom: 1em;
    }
    #week{
        grid-row: 1;
    }
    #month{
        grid-row: 1;
        padding-bottom: 1em;
    }
    #account{
        grid-row: 1;
        margin-bottom: 2rem;
    }
    #back_button{
        grid-row: 2;
        background-color: rgb(211, 210, 210);
        color: black;
        border-style: solid;
        border-width: 2px;;
        font-size: 2.2em; 
        place-self: center;
        margin-bottom: 1rem;
    }
    #location {
        grid-column:1/1;
        width: 50%;
        height: 50%;
        margin-bottom: 1rem;
        text-align: center;
        place-self: center;

    }
    
    #start_time {
        grid-column: 1/1;
        grid-row: 2;
        width: 50%;
        height: 50%;
        place-self: center;
        margin-bottom: 1rem;
    }
    
    #end_time{
        grid-column: 1/1;
        grid-row: 3;
        width: 50%;
        height: 50%;
        place-self: center;
    }
    #upload_information{
        grid-column: 2;
        grid-row: 1/4;
        
    }


}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr ;
    width: 100vw;
    height: 70vh;
}

#back_button {
    grid-row: 1;
    width: 40%;
    text-align: center;
    font-size: 2rem;
    place-self: center;
    overflow: hidden;
}

#location {
    place-self: center;
    grid-column:1/1;
    grid-row: 2;
    width: 50%;
    height: 50%;
    background-color: rgb(201, 201, 201);
    font-size: 2em;
    color: black;
}

#start_time {
    place-self: center;
    grid-column: 1/1;
    grid-row: 3;
    width: 50%;
    height: 50%;
    background-color: rgb(201, 201, 201);
    font-size: 1.75em;
    color: black;
}

#end_time{
    place-self: center;
    grid-column: 1/1;
    grid-row: 4;
    width: 50%;
    height: 50%;
    background-color: rgb(201, 201, 201);
    font-size: 1.75em;
    color: black;
}

#upload_information{
    display: block;
    grid-column: 2;
    grid-row: 1/5;
    background-color: rgb(201, 201, 201);
    font-size: 2em;
    color: black;
    padding: 1rem;
    resize: none;
}

#upload_button{
    grid-column: 3;
    grid-row: 4;
    margin-top: 6.75rem;
    width: 50%;
    height: 40%;
    margin-left: 2rem;
    background-color: rgb(201, 201, 201);
    font-size: 1.5em;
    color: black;
}