:root{
    --org1--color: rgb(201, 34, 34);
    --org2-color:rgb(210, 152, 45);
    --org3-color:rgb(45, 194, 210);
    --org4-color:rgb(56, 210, 45);
    --org5-color:rgb(180, 45, 210);
    --org6-color:rgb(184, 82, 9);
    --nav-color:rgb(194, 194, 194);
    --web--color:rgb(237, 237, 237);
}
body{
    grid-template-rows: auto auto;
    display:grid;
    background-color: var(--web--color);
    width: 97vw;
}
header nav{
    margin-left: 80px;
    margin-right: 80px;
}
h1{
    display:none;
}
main h2 , h3{
    margin:0px;
    text-align: center;
}
main h2{
    font-size: 3em;
}
section{
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}
section h4:first-child{
    font-size: 1.5em;
}
/* alla färger till veckosidan */
section#mandag{
    background-color: rgb(146,209,79);
    min-width: 150px;
}
section#tisdag{
    background-color:rgb(146,205,219);
    min-width: 150px;
}
section#onsdag{
    background-color:rgb(254,254,254);
    min-width: 150px;
}
section#torsdag{
    background-color:rgb(200,143,88);
    min-width: 150px;
}
section#fredag{
    background-color:rgb(254,254,108);
    min-width: 150px;
}
section#lordag{
    background-color:rgb(249,167,215);
    min-width: 150px;
}
section#sondag{
    background-color:rgb(214,81,86);
    min-width: 150px;
    margin-bottom: 20px;
}
h4 , h5{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1em;
}
div{
    min-width: 150px;
    height: 400px;
    border:none;
    position: relative;
}
div a {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    display: block;
    position:absolute;
    bottom:5px;
    right: 5px;
}
img{
    margin-top: 20px;
    width: 5em;
    height: 7em;
    margin-top: 0px;
}
.image1{
    transform: rotate(180deg);
}
.image2{
    float: right;
}
p{
font-size: 2em;
}
@media only screen and (min-width: 1288px){
    header{
        width: 100%;
    }
    
    header nav{
        margin-left: 120px;
        margin-right: 120px;
   }
    nav ul{
        list-style-type: none;
   }
    .maingrid{
        grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
        grid-template-rows: auto auto auto;
        display:grid;
        /*width: 97vw;*/
   }
    main h2 , h3{
        grid-column:1/10 ;
   }
    section{
        margin-left: 10px;
        margin-right: 10px;
        height: 400px;
        background-color:var(--web--color);
        border:none;
   }
    section#mandag{
        background-color:var(--web--color);
        min-width: 1px;
   }
    section#tisdag{
        background-color:var(--web--color);
        min-width: 1px;
   }
    section#onsdag{
        background-color:var(--web--color);
        min-width: 1px;
   }
    section#torsdag{
        background-color:var(--web--color);
        min-width: 1px;
   }
    section#fredag{
        background-color:var(--web--color);
        min-width: 1px;
   }
    section#lordag{
        background-color:var(--web--color);
        min-width: 1px;
   }
    section#sondag{
        background-color:var(--web--color);
        min-width: 1px;
        margin-bottom: 20px;
   }
    div{
        width: 100%;
        height: 70%;
        border-color: black;
        border-style: solid;
        border-width: 3px;
        position:relative;
   }
   p{
    font-size: 1.2em;
    text-align: left;
    padding-left: 5px;
   }

    #mandag div{
        background-color: rgb(146,209,79);
   }
    #tisdag div{
        background-color:rgb(146,205,219);
   }
    #onsdag div{
        background-color:rgb(254,254,254);
   }
    #torsdag div{
        background-color:rgb(200,143,88);
   }
    #fredag div{
        background-color:rgb(254,254,108);
   }
    #lordag div{
        background-color:rgb(249,167,215);
   }
    #sondag div{
        background-color:rgb(214,81,86);
   }
    img{
        margin-top: 200px;
   }
    .image1{
        grid-row:3/4;
   }
}