#mainheader{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}
header ul{
    margin: 0;
    padding: 0;

}
h1{
    display: none;
}
button{
    font-size: 2em;
    margin-top: 15px;
}
header a{
    font-size: 3.9em;
    color: black;
}
header a:active {
    text-decoration: none;
}
#activities{
    grid-row: 1;
}
#week{
    grid-row: 2;
}
#month{
    grid-row: 3;
    padding-bottom: 1em;
}

header nav ul{
    list-style-type: none;
}

@media only screen and (min-width: 820px) {
   header a {
        font-size: 3.9em;
    }
    #mainheader {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    #activities{
        grid-row: 1;
        padding-bottom: 1em;
    }
    #week{
        grid-row: 1;
    }
    #month{
        grid-row: 1;
        padding-bottom: 1em;
    }
}