#Mainheader{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}
ul{
    margin: 0;
    padding: 0;

}
a{
    font-size: 4.2em;
    color: black;
}
a:active {
    text-decoration: none;
}
#Aktiviteter{
    grid-row: 1;
}
#Vecka{
    grid-row: 2;
}
#Månad{
    grid-row: 3;
    padding-bottom: 1em;
}

nav ul{
    list-style-type: none;
}

@media only screen and (min-width: 820px) {
    a {
        font-size: 3.9em;
    }
    #Mainheader {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
    #Aktiviteter{
        grid-row: 1;
        padding-bottom: 1em;
    }
    #Vecka{
        grid-row: 1;
    }
    #Månad{
        grid-row: 1;
        padding-bottom: 1em;
    }
}